<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('template/bootstrap') %>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-6">
          <h3>User Login</h3>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">

              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-file-person" style="font-size: 10rem; color: gray;"></i>
            </div>
            
        </div>
      </div>
    </div>
  </body>
</html>
