<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <%- include('template/bootstrap') %>
  </head>
  <body>
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-4">
          <h3>User Register</h3>
        </div>
        <div class="col-sm-4 d-none d-sm-block">
          <div
            class="d-flex justify-content-center align-items-center"
            style="height: 100%"
          >
            <i
              class="bi bi-person-fill border border-dark rounded p-1"
              style="font-size: 7em; color: gray"
            ></i>
          </div>
        </div>
        
      </div>

    </div>
    
  </body>
</html>
